.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.result-page {
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top-box,
.data-box {
  background: #e0e0e0;
  border-radius: 20px;
  padding: 20px;
}